rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Kullanıcıların yalnızca kendi klasörlerine erişmesine izin ver
    match /users/{userId}/{allPaths=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
} 